<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Roscoe Duane Jampies
      <small class="text-muted">
        Technical lead
      </small>
    </a>
  </nav>  
  <div class="jumbotron">
    <h1 class="display-4">My personal website and CV!</h1>
    <p class="lead">
      I built this using angualr for the front end, nestjs, nodejs and a mongoDB cluster for the backend. All of it hosted on AWS.
    </p>
    <hr class="my-4">
    <hr class="my-4">
  </div>

  <router-outlet></router-outlet>

</div>