<div class="jumbotron">
    <hr class="my-4">
    <h1>About this site</h1>
    <hr class="my-4">
</div>
<div class="container">
    <h4>Front End</h4>
    <p>The front end of this site is very basic Angular. I used ng2-pdfjs-viewer to create the pdf viewer for my cv and connected to a nest.js backend for the Nasa photos.</p>
    <p><a href="https://github.com/jampiesroscoe/personal-site-frontend">Front End Code</a></p>
    <h4>Back End</h4>
    <p>I created the back end using nest.js, a node.js framework. I used it to connect to a Nasa API that provides 4 pictures from their archives with explanations.</p>
    <p><a href="https://github.com/jampiesroscoe/personal-site-backend">Back End Code</a></p>
    <h4>Deployment</h4>
    <p>I used Digital Ocean to create a pipeline to deploy both the front and back ends from the repository. Deployments are automatic with every change that I merge to master.</p>
    <p><a href="https://cloud.digitalocean.com/">Digital Ocean</a></p>   
</div>
